/* Appearance of the light/dark theme toggle button */

.color-mode__btn {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  margin: none;
  /*font-family: var(--sans); */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: #111111;
  color: var(--text-color, #111111);
  cursor: pointer;
  background: none;
  border: none;
  /* border-radius: var(--radius); */
  /* box-shadow: var(--box-shadow); */
}

/* change width and heigth HERE for the button appearance */
.color-mode__btn svg {

  width: 30px;
  height: 30px;
  margin-left: 7px;
  fill: none;
  stroke: #222222;
  stroke: var(--text-color, #222222);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;

}

.color-mode__btn:hover svg,
.color-mode__btn:focus svg, .color-mode__btn:focus {

  outline: none;
  fill: #fff7d6;
  fill: var(--text-color, #fff7d6);

}
